#rosa{
  background-color: #FE522B;
}
#violeta{
  background-color: #79088A;
}
#amarillo{
  background-color: #F7E618;
}
#azul{
  background-color: #1313F5;
}
#verde{
  background-color: #1B9802;
}
#negro{
  background-color: #000;
}
.abuelo{
  position:relative;
  width: 300px;
  height: 300px;
  left: 30%;
  margin: 15px;
}
.papa{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 75px;
  left: 75px;
}
.otro{
  width: 75px;
  height: 75px;
}
